@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<form method="post">
    <div>
       <label for=" txtName">  </label>
        <input id="txtName" placeholder="Enter name" required type="text"? />
    </div>
    <input type="text" />
</form>
