
@{
    ViewData["Title"] = "ChildList";
}

<h1>ChildList</h1>


<div style="background-color:antiquewhite">
    <hr/>
    <h1> From child view</h1>
    <ul>
        <li>Bugatti chiron</li>
        <li>Supra mk4</li>
        <li>Skyline GTR R34</li>
        <li>ford Mustang 1969</li>
        <li>koenisegg Agrea</li>
    </ul>
    <hr />
   
</div>