
@{
    ViewData["Title"] = "En Iniya Tamil makkalae";
}

<h1>
    <form action="Home/DoLogin">
        <div>
            <div>
                <object data="" C:\Users\sunilsudharshan.vm\Desktop\leo.txt"></object>
                <label for="txtUser">User Name:</label>
                <input type="text" name="txtUser" id="txtUser" required placeholder="Enter UserID" />
            </div>
            <div>
                <label for="txtpwd">Password:</label>
                <input type="password" name="txtpwd"id="txtpwd" required placeholder="Enter Password" />
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </div>
    </form>
</h1>
<div>
    <a href="Home/Sayhello?name= Ena chithapa Epdi iruka">Sayhello</a>

</div>
<div>
    <a href="Home/Add?x=300 & y=400">Add</a>

</div>
<div>
    <a href="Home/Multiply?x=300 & y=400">Multiply</a>

</div>
<div>
    <a href="Home/Divide?x=300 & y=400">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook">New Book</a>
</div>

