@model Nwind.Models.RepositoryOrder;


<form asp-asp-controller="Order" method="post" asp-action="Details">
    @*<select asp-for="SelectedId" asp-items="Model.OrderSelectView">
    </select>*@
    <button type="submit">details</button>
</form>

