
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>
<div>
    <h3>ViewDataX:@ViewData["X"]</h3>
    <h3>TempDataX:@TempData["globalx"]</h3>
    <h3>ViewDataY:@ViewData["globalyY"]</h3>


</div>

