
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<div class="text-center"><h1 class="display-4">Welcome</h1></div>
<div class="jumbotorn"><div>INR:&#9889</div>
<a asp-route-action="Echo" asp-route-name="Sunil" asp-route-city="Chennai">Call Echo</a>
<a asp-route-action="SayHello" asp-route-name="B2k">Call Hello</a>
</div>
<div class="text-centre"></div>
<hr />

