@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="Home/DoLogin">
        <div>
            <div>
                <label for="txtUser">User Name:</label>
                <input type="text" name="txtUser" id="txtUser" required placeholder="Enter UserID" />
            </div>
            <div>
                <label for="txtpwd">Password:</label>
                <input type="password" name="txtPad" id="txtpad" required placeholder="Enter Password" />
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </div>
    </form>
    <div>
        <a href="Home/Add?x=10&y=20">Result</a>
    </div>
    <div>
        <a href="Home/Multiply?x=10&y=20">MultiplyResult</a>
    </div>
    <div>
        <a href="Home/Divide?x=10&y=20">DivideResult</a>
    </div>
    <div>
        <a href="Home/AddNewBook">Add New Book</a>
    </div>
    <div>
        <a href="Home/ListAllBook">List of books</a>
    </div>
    <div>
        <a href="Home/AddNewAuthor">Add New Author</a>
    </div>
    <div>
        <a href="Home/ListAllAuthor">Autor List</a>
    </div>
    <div>
        <a href="Author">Author Landing Page</a>
    </div>
    <div> <a href="employee">Employee page</a></div>
</div>
